.app {
    height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

.app .addHome {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
}

.app h1 {
    margin-bottom: 50px;
}

.app .books {
    display: flex;
}

.app .books .book {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.app .books .book img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.app .books .book button {
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
}

.app .books .book .delete {
    border: 1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
}

.app .books .book .update {
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
}

.app .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app .form input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.app .form textarea {
    padding: 10px;
}

.app .form button {
    border: none;
    padding: 10px;
    background-color: white;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
